body {
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}



.coff{
    /* background-color:#f8f5f0; */
    background-color:#fcf9f985;
}

* input{
    cursor: pointer;
    
}