
header {

  margin: 0 auto;
  padding: 0.5rem;
  
  display: flex;
  min-height: 2rem;
  align-items: center;
  justify-content: initial;
  /* background: #9b6501; */
  background: #000000;
  border-bottom: solid #760000 1px;
}

   #slogan{
        max-width: 100%;
        min-width: 7rem;
        width: 11rem;
        margin: 1rem;
        margin-left: 139px;

   }


/* #NomeOf{

    max-width: 100%;
    color:#f7eae7;
    font-size: 3rem;
    font-family:"Lucida Handwriting", Arial, Helvetica, sans-serif;
    text-shadow:1px 1px 1px #111111;
} */



    #Menu a{
    font-size: 1rem;
    text-decoration:none;
    color: whitesmoke;


}

  #menu-container{
   
    /* float: right; */

    /* width: 500px; */
    max-height: fit-content;
    /* margin-right: 30px; */

  background-color: #760000;

  }

#Menu{
    /* clear: both; */
    display: flex;
    /* width: 500px; */
    padding: 0.5rem 0;
    justify-content: center;


    font-size: 14pt;
    font-family: "Playfair Display", serif;

    font-weight: 100;
    font-style: normal;



}


 ul{
    list-style-type:none;

    margin-top: 0.6rem;

    clear: both;

    padding-left: 0;


}

.op{
    padding-right: 1%;
    padding-left: 1%;


}

.op:last-child{
  border-right: none;
}


    #Menu a:hover{

    color: hwb(47 55% 5%);
    }

    #meuslinks a:hover{
      color: hwb(36 65% 33%);
      padding: auto;
      border-radius: 7px;
    }

     #Principal{
       
      
        max-width: 100%;
        height: auto;
        color: #f0e7e7;
        display:flex;
        flex-direction: column;

        align-items: center;

        }

#LadoE{

  width: 100%;
  height: auto;
  font-family:'Arial Narrow', Arial, sans-serif;
  align-items: center;



}

#LadoE span {
  height: auto;
text-align: center;
color:#b16502;

border-radius: 7px / 7px;
font-family:'Arial Narrow', Arial, sans-serif;

font-weight:normal;
letter-spacing: 0.3rem;
font-size: 1.5rem;

}

.imagens {

  min-width: 15%;
  max-width: 30%;
  width: 11rem;
  height: 12rem;
  margin: 0.3rem;

  border-radius: 1rem;
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;

}


/* #desc {
    max-width: 100%;
    text-transform:capitalize;
    color:rgb(249, 242, 232);
    text-align: center;
    font-size: 14pt;
    font-family: "Playfair Display", serif;


    font-style: normal;
    box-shadow: 1px 4px 10px rgb(245, 232, 232);
    margin-top: 30px;



} */




#desc {
  max-width: 100%;
  text-transform: capitalize;
  /* color: #f9f2e8; */
  text-align: center;
  
  font-family: "Playfair Display", serif;
  font-style: normal;
  box-shadow: 1px 4px 10px rgb(245, 232, 232);
  margin: 2rem auto; 
  padding: 0.5rem; 
  color: #a52a2a;
  font-size: 13pt;
}

 #desc p{

  width: 600px;
  margin: 10px 0 0 200px;
  letter-spacing: 0.1rem;

}


.span-red{
  font-size: 14pt;
}


.coff {

    display: flex;
    flex-direction: row;
    align-items: center;


    font-size: 1.18rem;
    min-height: 10.62rem;
    width: 95%;

    border: solid #f2b036 1px;
    border-top: 0;
    border-right: none;
    border-left: none;

    padding:17px 15px;



}

.coff:hover {
  background: #760000;
  /* background: linear-gradient(-327deg, rgba(35,36,0,0.9652193641128326) 0%,
  rgba(121,57,9,0.9960316890428046)
  35%, rgba(255,169,0,1) 100%); */
  border-radius: 10px;
  
}

.span-red label:hover{
  color: #fafbfdd3;
}

  #desc:hover{
  color: #fafbfdd3;

  } 

#desc:hover span{
  color: #fefdfd;

}

#div3{
    max-width: 100%;
    width: 100%;

    /* color: #fefdfd; */
    color: #931414;
    font-size: 1.20rem;
    line-height: 1rem;


    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;

    /* background-color: #a52a2aca; */
    background-color:#ffffff;
    text-align: center;


}

.afast{

  gap: 5px;
  display: inline-flex;
  align-items: center;

  flex-direction: row;
  justify-content: center;
}




#Copo{

  /* margin-left: 85px; */
  font-weight: lighter;
  /* color: #d1c2b1; */
  color:#b16502;

  padding: 10px 0 10px 30px;
  /* border-radius: 9px 0 0 9px; */

  box-shadow: -5px 1px 2px 1px #23240044;
 
}


/* .comple{
  margin-left: 10px;

} */

.escolha-cliente, #FP {
  max-width: 100%;
  padding: 10px;
  color:  rgb(93, 54, 2);
  font-style:oblique;
  font-size:  1rem;
  background: linear-gradient(to bottom, hwb(40 98% 1%), hwb(40 86% 13%));
  border: none;
  border-radius: 7% / 7%;

  border: solid #858483b0 0.1px;

}


.escolha-cliente{
  padding: 7px;
  margin: 0 12px;
  background: linear-gradient(to bottom, hwb(40 98% 1%), hwb(40 86% 13%));
  margin-bottom: 20px;
}

.escolha-cliente:hover{
  background: rgb(13, 13, 13);
  color: #f9f7f7;
  border: none;

}

 #FP:hover{
  background: rgb(13, 13, 13);
  color: #f9f7f7;
  border: none;
}

#FP,#FPF{
  justify-content: center;
  align-items: center;
  text-align: center;
 }


#ultdiv{
  padding-bottom: 30px;
}

  #divf{
    max-width: 100%;
    
    height: auto;
   
    display:flex;
    flex-direction:column;

    color: #fafbfd;
    
    background: #000000;
}


#inusi{
  padding: 1px 0;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #760000;

}

#Curi{
  
  font-size: 10pt;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.1rem;

  display: flex;
  flex-direction: row;
  padding: 7px 30px;
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  color: #fafbfd;
  margin: 0;


}



#qr{
    max-width: 100%;
    width: 5rem;

    margin-top: 24px;
    border: solid 1px #ad6904;


}

#meuslinks{
    max-width: 100%;
    color: hwb(39 21% 5%);
    font-size: 1.56rem;
    text-align: center;
    margin: 0.44rem;

    }




#contred{
    width: 100%;
    text-align:center;
    font-style: oblique;


}

#fim{
  display: flex;
  flex-direction: row;
  
  text-align:center;
  font-family:'Arial Narrow', Arial, sans-serif;
  word-spacing: 7px;
  margin-top: 35px;



  padding: 10px;
  padding-left: 0;
  padding-right: 25px;
  border-top-left-radius: 20px;

  color: #fcfcfa;


}



#Coment{
    max-width: 100%;
    text-align: center;
    width: auto;

}


  #lnk1,#vt:link{
        color:rgb(245, 234, 213);
        text-decoration: none;
}



#lnk:link {

        color: rgb(246, 243, 247);
        text-decoration: none;

}

*:visited{
  color: #f7eae7;
}

#sec{

text-align: center;
max-width: 100%;
padding-top: 1rem;


/* margin-left: 10px; */



}



footer{
max-width: 100%;
min-height: 1.88rem;
text-align: center;
letter-spacing: 0.2rem;
color: aliceblue;
padding: 0.51rem;
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
background-color: #000000;
border-top: solid #760000 1px;
}



/*responsividade*/


  @media screen and (max-width: 995px) {

    #Menu{
      display: none;
    }


    header {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #slogan {
      width: 100%;
      max-width: 10rem;
      margin: 0 auto;
    }

     #Menu {
     position:sticky;
     top: 0;
    }


    #Menu a {
      padding: auto 0.3rem;
    }


    #Principal {
      flex-direction: column;

    }

    #LadoE {
      width: 100%;
    }

    #div3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      
    }



    .coff {
      width: 90%;
      margin: 0 auto;
      padding: auto;


    }

    .imagens {
      width: 25%;
      height: 25%;
      margin: 0;
      margin-bottom: 10px;
    }

   

    #Curi{
      height: auto;
      display: flex;
      flex-direction: column;
      line-height: 1.9rem;
    }

    #desc {
      display: flex;
      flex-direction: column;
      text-align:center;
      align-items: center;
      padding: 0%;
    }

    .escolha-cliente{
      margin-bottom: 20px;
    }

    #desc p{

      width: auto;
      margin: 0 auto;
    }

    ul{
      padding: 0;
      margin: 0 auto;
    }

     #Copo{
      text-align: start;
      font-size: 13pt;
      line-height: 2rem;
      width: 100%;
    
    }

    .afast{
      display: block;
      width: 100%;
      padding: auto;
    }

    #div3{
      background-color:white;
    }

   .span-red {
  
    display: block;
    text-align: start;
   }
    

    
  }

  @media screen and (max-width: 580px) {


    #Menu{
      display: none;
    }

    .imagens{
      width: 25%;
      height: 25%;
      margin-top: 15px;
    }

    #LadoE span{
      padding: 0.1rem;
    }


    #LadoE{
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    #desc {
      display: flex;
      flex-direction: column;
      text-align:center;
      align-items: center;
      padding: 0%;
    }

    #div3{
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .coff{
    display: flex;
    flex-direction: column;
  }

  #desc p{

    width: auto;
    margin: 0 auto;
  }

  }
